.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
input{
  padding: 10px;
  border: none;
  text-align: center;
  font-size: large;
  border-bottom: 2px solid black;
  margin: 30px;
  outline: none;
}
li{
  border: 1px solid black;
  margin-top: 5px;
  background-color: aquamarine;
  list-style-type: none;
}
